#.gitignore

spk2gender.txt
notes.txt
.wavsplitGui.py

__pycache__/
venv-hunspell/
data/
todo/
training_data/

aligned/
corpus/

corpus_common_voice/cv-corpus*
corpus_common_voice/train
corpus_common_voice/test

corpus_sae/*.zip

wikipedia_corpus/

test_set/
