#.gitignore

spk2gender.txt
notes.txt

__pycache__/
venv-hunspell/
data/
corpus/
test_set/
various/
todo/
training_data/

common_voice/cv-corpus*
common_voice/train
common_voice/test

dizale/

rkb/

sae/b*/
sae/xxx*/
sae/*.zip

dastum/

wikipedia_corpus/
