#.gitignore

spk2gender.txt
.wavsplitGui.py

__pycache__/
venv-hunspell/
dev/
data/
todo/
training_data/

aligned/
corpus/
generated_corpus/
corpus_skrid/

corpus_ya/

corpus_wikipedia/

corpus_common_voice/cv-corpus*
corpus_common_voice/train
corpus_common_voice/test

corpus_sae/*.zip

test_set/
